---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
import Greeting from '../components/Greeting';

const pageTitle = 'My first amzing astro project';
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Hello</h2>
  <Greeting client:load messages={['Hej', 'Hallo', 'Hola', 'Habari']} />
  <Greeting client:visible messages={['Hej', 'Hallo', 'Hola', 'Habari']} />
  <img
    src={'https://docs.astro.build/assets/rose.webp'}
    width="300"
    height="300"
    alt="The Astro logo on a dark background with a pink glow."
  />
  <img
    src={'https://docs.astro.build/assets/rose.webp'}
    width="300"
    height="300"
    alt="The Astro logo on a dark background with a pink glow."
  />
  <img
    src={'https://docs.astro.build/assets/rose.webp'}
    width="300"
    height="300"
    alt="The Astro logo on a dark background with a pink glow."
  />
  <img
    src={'https://docs.astro.build/assets/rose.webp'}
    width="300"
    height="300"
    alt="The Astro logo on a dark background with a pink glow."
  />
  <img
    src={'https://docs.astro.build/assets/rose.webp'}
    width="300"
    height="300"
    alt="The Astro logo on a dark background with a pink glow."
  />
  <img
    src={'https://docs.astro.build/assets/rose.webp'}
    width="300"
    height="300"
    alt="The Astro logo on a dark background with a pink glow."
  />
  <img
    src={'https://docs.astro.build/assets/rose.webp'}
    width="300"
    height="300"
    alt="The Astro logo on a dark background with a pink glow."
  />
  <img
    src={'https://docs.astro.build/assets/rose.webp'}
    width="300"
    height="300"
    alt="The Astro logo on a dark background with a pink glow."
  />
</BaseLayout>

<script>
  import gsap from 'gsap';
  import ScrollTrigger from 'gsap/ScrollTrigger';
  gsap.registerPlugin(ScrollTrigger);

  const getImageElements = () => {
    const elements = document.querySelectorAll('img');
    const arrayOfElements = gsap.utils.toArray(elements);
    // console.log('this is the lement', arrayOfElements);
    return arrayOfElements;
  };

  document.addEventListener('astro:page-load', () => {
    const elements = getImageElements();

    gsap.set(elements, {
      opacity: 0,
      x: 200,
    });

    const animateElementOnView = (element: any) => {
      const animation = gsap.to(element, {
        opacity: 1,
        x: 0,
        scrollTrigger: {
          trigger: element,
          start: 'top bottom',
          pinSpacing: false,
          // markers: true,
          toggleActions: 'play none none reset',
        },
      });
      return animation;
    };

    elements.map((element) => {
      return animateElementOnView(element);
    });
  });
</script>
<style>
  img {
    display: block;
    width: 100%;
    /* height: 300px */
    margin-top: 100px;
  }
</style>
